@import "tailwindcss";

@theme {
  --color-zinc-950: #09090b;
  --color-zinc-900: #18181b;
  --color-zinc-800: #27272a;
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;

  --font-sans: "IBM Plex Sans", sans-serif;
  --font-mono: "GeistMono-Variable", monospace;
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-zinc-950 text-zinc-50 antialiased font-sans;
}

::selection {
  @apply bg-zinc-800 text-white;
}
