@import "tailwindcss";

@theme {
  --color-zinc-950: #09090b;
  --color-zinc-900: #18181b;
  --color-zinc-800: #27272a;
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;

  --font-sans: "IBM Plex Sans", sans-serif;
  --font-mono: "GeistMono-Variable", monospace;
}

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-zinc-950 text-zinc-50 antialiased font-sans;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.02) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
  background-size: 40px 40px;
}

::selection {
  @apply bg-zinc-800 text-white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 border-2 border-zinc-950 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-700;
}
